.organization-list ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 24px;
}
.organization-list ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid;
  gap: 10px;
}
